<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar Usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    
</head>

<body class="bg-dark">
    <div class="container mt-5 ">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="card bg-light">
                    <div class="card-header text-center">
                        <h4 class="mb-0 text-primary">Agregar Usuario</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/frmUsuario/" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="mb-3">
                                <label for="nombreUsuario" class="form-label">Nombre del Usuario</label>
                                <input type="text" class="form-control" id="txtnombre" name="txtnombre" required>
                            </div>
    
                            <div class="mb-3">
                                <label for="DireccionUsuario" class="form-label">Direccion del Usuario</label>
                                <textarea class="form-control" id="txtdireccion" name="txtdireccion" rows="4" required></textarea>
                            </div>
    
                            <div class="mb-3">
                                <label for="correousuario" class="form-label">Correo</label>
                                <input type="email" min="0" class="form-control" id="txtCorreo" name="txtCorreo" required>
                            </div>
    
                            <div class="mb-3">
                                <label for="telefonousuario" class="form-label">Telefono</label>
                                <input type="number" min="0" class="form-control" id="txtelefono" name="txtelefono" required>
                            </div>
    
                            <div class="mb-3">
                                <label for="contraseñaUsuario" class="form-label">Contraseña</label>
                                <input type="text" min="0" class="form-control" id="txtPassword" name="txtPassword" required>
                            </div>
                            
    
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Guardar Usuario</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8  d-none d-md-table">
                <div class="card bg-light">
                    <div class="card-header text-center">
                        <h4 class="mb-0 text-danger">Listado de Usuarios</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Nombre</th>
                                   
                                    <th>Telefono</th>
                                    <th>Email</th>
                                    <th>Contraseña</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for usuario in usuario %}
                                <tr>
                                    <td>{{ usuario.idusuario }}</td>
                                    <td>{{ usuario.nombre }}</td>
                                    <td>{{ usuario.telefono }}</td>
                                    <td>{{ usuario.correo }}</td>
                                    <td>{{ usuario.password }}</td>
                                    <td class="d-flex">
                                        <a href="eliminarc/{{curso.idcurso}}" class="btn btn-danger btn-sm me-2">Eliminar</a>
                                        <a href="modificar_curso/{{curso.idcurso}}" class="btn btn-primary btn-sm">Modificar</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
   
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>