<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Curso</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    
</head>

<body class="bg-dark">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card bg-light">
                    <div class="card-header text-center">
                        <h4 class="mb-0">Agregar Curso</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/agregar_curso/editarc/guardarmodifi/{{curso.idcurso}}/" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="idCurso" class="form-label">id del curso</label>
                                <input type="text" value="{{curso.idcurso}}" class="form-control" id="txtid" name="txtid" required>
                            </div>

                            <div class="mb-3">
                                <label for="nombreCurso" class="form-label">Nombre del Curso</label>
                                <input type="text" value="{{curso.nombre}}" class="form-control" id="txtnombre" name="txtnombre" required>
                            </div>
    
                            <div class="mb-3">
                                <label for="descripcionCurso" class="form-label">Descripción del Curso</label>
                                <textarea class="form-control" id="txtdescripcion" name="txtdescripcion" rows="4" required>{{ curso.descripcion }}</textarea>
                            </div>
    
                            <div class="mb-3">
                                <label for="duracionCurso" class="form-label">Duración del Curso en Meses</label>
                                <input type="number" min="0"  value="{{curso.duracion}}" class="form-control" id="txtduracion" name="txtduracion" required>
                            </div>
    
                            <div class="mb-3">
                                <label for="precioIndividual" class="form-label">Precio Individual</label>
                                <input type="number" min="0"  value="{{curso.precio_individual}}" class="form-control" id="txtPIndividual" name="txtPIndividual" required>
                            </div>
    
                            <div class="mb-3">
                                <label for="precioGrupal" class="form-label">Precio Grupal +10</label>
                                <input type="number" min="0"  value="{{curso.precio_grupal}}" class="form-control" id="txtPGrupal" name="txtPGrupal" required>
                            </div>
    
                            <div class="mb-3">
                                <label for="imagenCurso" class="form-label">Imagen del Curso</label>
                                <input type="file" class="form-control" id="txtImagenCurso" name="txtImagenCurso" accept="image/*">
                                <input type="text" class="form-control mt-2" value="{{ curso.imagen.url }}" readonly>
                            </div>
                            
    
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">modificar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>